<% layout('layout') -%>
<div class="row">
  <div class="col-md-3"><div class="small-box bg-info"><div class="inner"><h3><%= stats.customers %></h3><p>Khách hàng</p></div></div></div>
  <div class="col-md-3"><div class="small-box bg-success"><div class="inner"><h3><%= stats.spins %></h3><p>Lượt quay</p></div></div></div>
  <div class="col-md-3"><div class="small-box bg-warning"><div class="inner"><h3><%= stats.vouchers_left %></h3><p>Voucher còn</p></div></div></div>
  <div class="col-md-3"><div class="small-box bg-danger"><div class="inner"><h3><%= stats.auto_logout_week %></h3><p>Auto logout (7 ngày)</p></div></div></div>
</div>
